@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Roboto:wght@400;700&display=swap');

/* Versão Mobile First */

* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #77927bb8;
}

header{
    background-color: #92B397;
}

header > h1 {
    text-align: center;
    color: rgb(53, 53, 53);
    padding: 10px;
    font-size: 2em;
}

/* menu{
    display: block;
} */

menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #5E7361;
    color: white;
    border-top: 2px solid rgb(132, 158, 135); 
}

menu > ul > li > a:hover{
    background-color: rgb(132, 158, 135);
}

main {
    background-color: #b0dbb6;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}



.container {
    text-align: center;
}
.container > iframe {
    width: 80vw;
    height: 55vh;
    margin-bottom: 25px;
}